extends layout

block content

  h1 Category: #{category.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items:

    dl
      each item in category_items
        dd
          a(href=item.url class="boldLink") #{item.name}
          |  x  #{item.stock}
        dd #{item.desc}

      else
        p This category has no items


    hr
    p
    a(href=category.url+'/delete') Delete Category

