extends layout

block content
  h1 #{item.name}

  p #[strong Description:] #{item.desc}
  p #[strong Price:] $#{item.price}
  p #[strong Stock:] #{item.stock}
  p #[strong Category:]
    each val, index in item.category
      a(href=val.url) #{val.name}
      if index < item.category.length - 1
        |,

    else
      p There are no items like this.

  hr
  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item
    

